In [1]:
#DOCUMENTATION
#SCRAP DATA
#LOAD DATASETS
#GATHER QUESTIONS TO WHICH WE NEED ANSWERS
#EDA
#MAKE VISUALIZATIONS ON POWER BI
#MAKE ML MODEL
#PUBLISH

In [4]:
#Q1 Most top rated crypto based on price (done)
#Q2 most fell coin and in which year
# plot its month data
#Q3 most risen coin and in which year
#Q4 find consistency of then most risen coin
#Q5 find consistency in drop of most fallen coin
#Q6 find consistency based on month
#Q7 highest rise of the day
#Q8 highest falls of the day
#Q9 highest and lowest price of the top rated coin based on price
#Q10 highest and lowest for bottom rasted coin
#Q11 top coin based on rank (done)

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

In [5]:
crypto_raw_df = pd.read_csv('crypto-markets.csv')

In [6]:
crypto_raw_df.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [7]:
crypto_raw_df.shape

(942297, 13)

In [8]:
crypto_raw_df.describe()

,ranknow,open,high,low,close,volume,market,close_ratio,spread
count,942297.000000,9.422970e+05,9.422970e+05,9.422970e+05,9.422970e+05,9.422970e+05,9.422970e+05,942297.000000,9.422970e+05
mean,1000.170608,3.483522e+02,4.085930e+02,2.962526e+02,3.461018e+02,8.720383e+06,1.725060e+08,0.459499,1.123400e+02
std,587.575283,1.318436e+04,1.616386e+04,1.092931e+04,1.309822e+04,1.839802e+08,3.575590e+09,0.326160,6.783713e+03
min,1.000000,2.500000e-09,3.200000e-09,2.500000e-10,2.000000e-10,0.000000e+00,0.000000e+00,-1.000000,0.000000e+00
25%,465.000000,2.321000e-03,2.628000e-03,2.044000e-03,2.314000e-03,1.750000e+02,2.958100e+04,0.162900,0.000000e+00
50%,1072.000000,2.398300e-02,2.680200e-02,2.143700e-02,2.389200e-02,4.278000e+03,5.227960e+05,0.432400,0.000000e+00
75%,1484.000000,2.268600e-01,2.508940e-01,2.043910e-01,2.259340e-01,1.190900e+05,6.874647e+06,0.745800,3.000000e-02
max,2072.000000,2.298390e+06,2.926100e+06,2.030590e+06,2.300740e+06,2.384090e+10,3.265025e+11,1.000000,1.770563e+06

In [20]:
#Q11

In [21]:
top_rated_coin_based_on_rank = crypto_raw_df.nsmallest(1,'ranknow')

In [22]:
top_rated_coin_based_on_rank

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.3,135.98,132.1,134.21,0.0,1.488567e+09,0.5438,3.88

In [23]:
#Q1

In [24]:
top_rated_coin_based_on_price = crypto_raw_df.nlargest(1,'high')

In [25]:
top_rated_coin_based_on_price

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
941959,project-x,NANOX,Project-X,2017-12-26,1727,2298390.0,2926100.0,2030590.0,2278930.0,134610.0,178358.0,0.2773,895510.0

In [35]:
#Q2

In [36]:
crypto_raw_df['differnce'] = crypto_raw_df['high'] - crypto_raw_df['low']

In [37]:
most_fell_coin = crypto_raw_df.nlargest(1,'differnce')

In [38]:
most_fell_coin

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread,differnce
941960,project-x,NANOX,Project-X,2017-12-27,1727,2280580.0,2550090.0,779527.0,855170.0,54631.0,66929.0,0.0427,1770563.0,1770563.0

In [45]:
import datetime as dt
crypto_raw_df['date'] = pd.to_datetime(crypto_raw_df['date'])

In [46]:
crypto_raw_df.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread,differnce
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32,33.32

In [49]:
crypto_raw_df['year'] = crypto_raw_df['date'].dt.year
crypto_raw_df['month'] = crypto_raw_df['date'].dt.month

In [50]:
crypto_raw_df.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread,differnce,year,month
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88,3.88,2013,4
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49,13.49,2013,4
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88,12.88,2013,4
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17,32.17,2013,5
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32,33.32,2013,5

In [57]:
most_fell_coin_dropped_year = crypto_raw_df[crypto_raw_df['year'] == 2017]

In [58]:
most_fell_coin_dropped_period = most_fell_coin_dropped_year[most_fell_coin_dropped_year['month'] == 12]

In [60]:
most_fell_coin_dropped = most_fell_coin_dropped_period[most_fell_coin_dropped_period['name'] == 'Project-X']

In [61]:
most_fell_coin_dropped

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread,differnce,year,month
941934,project-x,NANOX,Project-X,2017-12-01,1727,64955.0,65674.5,32573.0,33915.1,260.0,2654.0,0.0405,33101.5,33101.5,2017,12
941935,project-x,NANOX,Project-X,2017-12-02,1727,33886.3,80787.1,33820.0,76448.8,756.0,5983.0,0.9076,46967.1,46967.1,2017,12
941936,project-x,NANOX,Project-X,2017-12-03,1727,76521.8,78432.8,57842.4,67228.9,58.0,5262.0,0.4559,20590.4,20590.4,2017,12
941937,project-x,NANOX,Project-X,2017-12-04,1727,67451.8,87404.3,57708.1,61657.0,106.0,4826.0,0.1330,29696.2,29696.2,2017,12
941938,project-x,NANOX,Project-X,2017-12-05,1727,61778.2,61990.9,38260.8,52770.5,395.0,4130.0,0.6114,23730.1,23730.1,2017,12
941939,project-x,NANOX,Project-X,2017-12-06,1727,52653.5,67516.5,52653.5,67421.7,220.0,5277.0,0.9936,14863.0,14863.0,2017,12
941940,project-x,NANOX,Project-X,2017-12-07,1727,67305.8,69551.6,53355.2,63717.9,663.0,4987.0,0.6398,16196.4,16196.4,2017,12
941941,project-x,NANOX,Project-X,2017-12-08,1727,63867.8,78849.0,54447.8,73098.2,56.0,5721.0,0.7643,24401.2,24401.2,2017,12
941942,project-x,NANOX,Project-X,2017-12-09,1727,73024.6,74106.5,48623.5,53766.8,34.0,4208.0,0.2018,25483.0,25483.0,2017,12
941943,project-x,NANOX,Project-X,2017-12-10,1727,53984.7,53984.7,27628.5,30715.7,461.0,2404.0,0.1171,26356.2,26356.2,2017,12
941944,project-x,NANOX,Project-X,2017-12-11,1727,30494.0,33836.4,30360.6,33112.7,51.0,2592.0,0.7918,3475.8,3475.8,2017,12
941945,project-x,NANOX,Project-X,2017-12-12,1727,67209.7,68301.5,33436.9,41583.0,227.0,3254.0,0.2336,34864.6,34864.6,2017,12
941946,project-x,NANOX,Project-X,2017-12-13,1727,41617.7,83991.7,39666.3,82141.1,1555.0,6429.0,0.9582,44325.4,44325.4,2017,12
941947,project-x,NANOX,Project-X,2017-12-14,1727,81877.4,90438.0,65840.3,66251.0,149.0,5185.0,0.0167,24597.7,24597.7,2017,12
941948,project-x,NANOX,Project-X,2017-12-15,1727,66350.6,90373.2,66337.8,88110.5,611.0,6896.0,0.9059,24035.4,24035.4,2017,12
941949,project-x,NANOX,Project-X,2017-12-16,1727,88234.2,188255.0,71438.4,120740.0,1745.0,9450.0,0.4220,116816.6,116816.6,2017,12
941950,project-x,NANOX,Project-X,2017-12-17,1727,120755.0,120755.0,79454.9,80321.2,643.0,6286.0,0.0210,41300.1,41300.1,2017,12
941951,project-x,NANOX,Project-X,2017-12-18,1727,80564.4,95586.7,76950.9,95586.7,197.0,7481.0,1.0000,18635.8,18635.8,2017,12
941952,project-x,NANOX,Project-X,2017-12-19,1727,95667.7,1762800.0,88793.4,971750.0,52119.0,76053.0,0.5275,1674006.6,1674006.6,2017,12
941953,project-x,NANOX,Project-X,2017-12-20,1727,970792.0,1365570.0,348339.0,706928.0,50944.0,55327.0,0.3525,1017231.0,1017231.0,2017,12
941954,project-x,NANOX,Project-X,2017-12-21,1727,708779.0,737016.0,366394.0,469763.0,2075.0,36766.0,0.2789,370622.0,370622.0,2017,12
941955,project-x,NANOX,Project-X,2017-12-22,1727,471391.0,661632.0,343377.0,519104.0,4511.0,40627.0,0.5522,318255.0,318255.0,2017,12
941956,project-x,NANOX,Project-X,2017-12-23,1727,524007.0,1675560.0,434562.0,1430240.0,64003.0,111936.0,0.8023,1240998.0,1240998.0,2017,12
941957,project-x,NANOX,Project-X,2017-12-24,1727,1446030.0,2633290.0,1331690.0,1866850.0,322658.0,146107.0,0.4112,1301600.0,1301600.0,2017,12
941958,project-x,NANOX,Project-X,2017-12-25,1727,1884830.0,2708300.0,1481080.0,2300740.0,126628.0,180065.0,0.6679,1227220.0,1227220.0,2017,12
941959,project-x,NANOX,Project-X,2017-12-26,1727,2298390.0,2926100.0,2030590.0,2278930.0,134610.0,178358.0,0.2773,895510.0,895510.0,2017,12
941960,project-x,NANOX,Project-X,2017-12-27,1727,2280580.0,2550090.0,779527.0,855170.0,54631.0,66929.0,0.0427,1770563.0,1770563.0,2017,12
941961,project-x,NANOX,Project-X,2017-12-28,1727,853376.0,1217350.0,289847.0,943642.0,37305.0,73853.0,0.7049,927503.0,927503.0,2017,12
941962,project-x,NANOX,Project-X,2017-12-29,1727,953410.0,1034770.0,502151.0,712084.0,23790.0,55731.0,0.3942,532619.0,532619.0,2017,12
941963,project-x,NANOX,Project-X,2017-12-30,1727,710293.0,803780.0,398776.0,438298.0,15726.0,34303.0,0.0976,405004.0,405004.0,2017,12
941964,project-x,NANOX,Project-X,2017-12-31,1727,433564.0,517624.0,407182.0,431750.0,12313.0,33790.0,0.2225,110442.0,110442.0,2017,12

In [62]:
most_fell_coin_dropped.shape

(31, 16)