In [1]:
#DOCUMENTATION
#SCRAP DATA
#LOAD DATASETS
#GATHER QUESTIONS TO WHICH WE NEED ANSWERS
#EDA
#MAKE VISUALIZATIONS ON POWER BI
#MAKE ML MODEL
#PUBLISH

In [4]:
#Q1 Most top rated crypto based on price (done)
#Q2 most fell coin and in which year
# plot its month data
#Q3 most risen coin and in which year
#Q4 find consistency of then most risen coin
#Q5 find consistency in drop of most fallen coin
#Q6 find consistency based on month
#Q7 highest rise of the day
#Q8 highest falls of the day
#Q9 highest and lowest price of the top rated coin based on price
#Q10 highest and lowest for bottom rasted coin
#Q11 top coin based on rank (done)

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

In [5]:
crypto_raw_df = pd.read_csv('crypto-markets.csv')

In [6]:
crypto_raw_df.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [7]:
crypto_raw_df.shape

(942297, 13)

In [8]:
crypto_raw_df.describe()

,ranknow,open,high,low,close,volume,market,close_ratio,spread
count,942297.000000,9.422970e+05,9.422970e+05,9.422970e+05,9.422970e+05,9.422970e+05,9.422970e+05,942297.000000,9.422970e+05
mean,1000.170608,3.483522e+02,4.085930e+02,2.962526e+02,3.461018e+02,8.720383e+06,1.725060e+08,0.459499,1.123400e+02
std,587.575283,1.318436e+04,1.616386e+04,1.092931e+04,1.309822e+04,1.839802e+08,3.575590e+09,0.326160,6.783713e+03
min,1.000000,2.500000e-09,3.200000e-09,2.500000e-10,2.000000e-10,0.000000e+00,0.000000e+00,-1.000000,0.000000e+00
25%,465.000000,2.321000e-03,2.628000e-03,2.044000e-03,2.314000e-03,1.750000e+02,2.958100e+04,0.162900,0.000000e+00
50%,1072.000000,2.398300e-02,2.680200e-02,2.143700e-02,2.389200e-02,4.278000e+03,5.227960e+05,0.432400,0.000000e+00
75%,1484.000000,2.268600e-01,2.508940e-01,2.043910e-01,2.259340e-01,1.190900e+05,6.874647e+06,0.745800,3.000000e-02
max,2072.000000,2.298390e+06,2.926100e+06,2.030590e+06,2.300740e+06,2.384090e+10,3.265025e+11,1.000000,1.770563e+06

In [20]:
#Q11

In [21]:
top_rated_coin_based_on_rank = crypto_raw_df.nsmallest(1,'ranknow')

In [22]:
top_rated_coin_based_on_rank

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.3,135.98,132.1,134.21,0.0,1.488567e+09,0.5438,3.88

In [23]:
#Q1

In [24]:
top_rated_coin_based_on_price = crypto_raw_df.nlargest(1,'high')

In [25]:
top_rated_coin_based_on_price

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
941959,project-x,NANOX,Project-X,2017-12-26,1727,2298390.0,2926100.0,2030590.0,2278930.0,134610.0,178358.0,0.2773,895510.0

In [35]:
#Q2

In [36]:
crypto_raw_df['differnce'] = crypto_raw_df['high'] - crypto_raw_df['low']

In [37]:
most_fell_coin = crypto_raw_df.nlargest(1,'differnce')

In [38]:
most_fell_coin

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread,differnce
941960,project-x,NANOX,Project-X,2017-12-27,1727,2280580.0,2550090.0,779527.0,855170.0,54631.0,66929.0,0.0427,1770563.0,1770563.0